.containerPortfolio {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,auto);

    header {

        nav {
            grid-column: 1 / 1 ;
        }
    }

    .title {
        h1 {
            grid-column: 2 / 6;
            grid-row: 1 / 2;

        }
    }
}